body {
    font-family: 'Old Standard TT', serif;
    margin: 0;
    background-color: black;
    width: 100%;
}

/* header */
/* desktop */

.titulo {
    font-size: 4rem;
    font-weight: 600;
    color: #5D4E49;
    text-align: center;
}


#first-container {
    display: flex;
    flex-direction: row;
    background-color: #C0B7B4;
    height: 100vh;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.div-text{
    display: flex;
    text-align: center;
    height: 100vh;
    min-width: 300px;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.header-photo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.div-images{
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 48% 4% 48%;
    min-width: 400px;
    width: 40%;
}


.first{
    justify-self: end;
    align-self: end;
    grid-row-end: 3;
    grid-column-end: 3;
 }



 .second{
     justify-self: start;
     align-self: end;
     grid-row-end: 3;
     grid-column-start: 2;
     z-index: 1;

 }

 .third{
     justify-self: end;
     align-self: start;
     grid-row-start: 2;
     grid-column-end: 3;
 }

 .fourth{
     justify-self: start;
     align-self: start;
     grid-row-start: 2;
     grid-column-start: 2;

 }



/* header */
/* mobile */
@media (max-width: 480px) {
    #first-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .div-text{
        width: 100%;
        height: 50vh;
        justify-content: space-around;
        align-items: normal;
    }

    .div-images{
        height: 40vh;
        width: 100%;
    }

    .header-photo{
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .titulo {
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
    }

    .header-photo{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
}


/* second container desktop */
#second-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: #C9CFBD;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Carla{
    height: 300px;
    border-radius: 50%;
}

.my-photo{
    text-align: center;
    width: 40%;
    min-width: 300px;
}


.my-text{
    color: #5D4E49;
    width: 40%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}



/* second container mobile */
@media (max-width: 480px) {

    #second-container {
        padding-top: 50px;
    }

    .Carla{
        height: 200px;
    }

    .my-text{
        text-align: center;
    }
}


/* third container desktop MIS TRABAJOS*/
#third-container{
    display: flex;
    flex-direction: column;
    background-color: #C0B7B4;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;  
}

.iconos-seccion{
    display: flex;
    flex-direction: row;
    background-color: #C0B7B4;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.titulo-seccion{
    display: flex;
    justify-content: center;
}

.mis-trabajos{
    font-size: 3rem;
    align-self: center;
    font-weight: 200;
    color: #5D4E49;
}

.iconos {
    height: 150px;
    border-radius: 50%;
}

.iconos:hover {
    border-radius: 50%;
}



/* third container mobile */

@media (max-width: 480px) {

#third-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #C0B7B4;
}

.iconos-seccion{
    display: flex;
    flex-direction: column;
    background-color: #C0B7B4;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* prueba con la clase de abajo sino borramos */
.centrados{
    display: flex;
    flex-direction: column;
    background-color: #C0B7B4;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.mis-trabajos{
    font-size: 3rem;
    font-weight: 400;
}

.iconos {
    height: 100px;
    border-radius: 50%;
}


/* .primer-icono {
    margin: none;
    align-self: center;
}

.segundo-icono {
    margin: none;
}

.tercer-icono {
    margin-top: 0px;
    align-self: center;
}
} */
}

/* carousel */

#carouselExampleDark{
    background-color: #F5F5EF;
}

#carouselExampleDark > div.carousel-indicators > button.active{
    background-color: #C9CFBD;
}


#carouselExampleDark > div.carousel-inner > div.carousel-item{
    display: flex;
    height: 100vh;
    padding: 5% 25% 5% 25%;
}


/* carousel mobile */
@media (max-width: 480px) {
    #carouselExampleDark > div.carousel-inner.carousel-fade > div.carousel-item.active.justify-content-center > img{
        height: 50%;
        margin-right: 50px;
        margin-left: 50px;
    }


}





/* navbar */
body > nav > div > a > img{
    height: 5rem;
}


body > nav > div {
    font-family: 'Old Standard TT', serif;
    color: #5D4E49;
    background-color: #C9CFBD;
    margin-top: 0;
}

#navbarNavDropdown > ul > li.nav-item.dropdown > ul{
    background-color: #C9CFBD;
}



  
