body {
    font-family: 'Old Standard TT', serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    width: 100%;
}

/* header */
/* desktop */

.titulo {
    font-size: 5rem;
    font-weight: 600;
    color: #5D4E49;
    text-align: center;
    text-transform: uppercase;
    transform: scale(.5 , 1);
    letter-spacing: 2rem; /* Espacio entre letras */
}


#first-container {
    display: flex;
    flex-direction: row;
    background-color: #C0B7B4;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.div-text{
    display: flex;
    text-align: center;
    height: 100vh;
    min-width: 300px;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.header-photo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.div-images{
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 48% 4% 48%;
    min-width: 400px;
    width: 40%;
}


.first{
    justify-self: end;
    align-self: end;
    grid-row-end: 3;
    grid-column-end: 3;
 }



 .second{
     justify-self: start;
     align-self: end;
     grid-row-end: 3;
     grid-column-start: 2;
     z-index: 1;

 }

 .third{
     justify-self: end;
     align-self: start;
     grid-row-start: 2;
     grid-column-end: 3;
 }

 .fourth{
     justify-self: start;
     align-self: start;
     grid-row-start: 2;
     grid-column-start: 2;

 }



/* header */
/* mobile */
@media (max-width: 900px) {
    #first-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        height: 100vh;
    }

    .div-text{
        max-width: 100%;
        height: 50vh;
        justify-content: space-around;
        align-items: normal;
        text-align: center;
    }

    .div-images{
        height: 40vh;
        max-width: 100%;
        padding-bottom: 60px;
    }

    .header-photo{
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .titulo {
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
    }

    .header-photo{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
}


/* second container desktop */
#second-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: #C9CFBD;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Carla{
    height: 300px;
    border-radius: 50%;
}

.my-photo{
    text-align: center;
    width: 40%;
    min-width: 300px;
}


.my-text{
    color: #5D4E49;
    width: 40%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}



/* second container mobile */
@media (max-width: 900px) {
    #second-container {
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .Carla{
        height: 200px;
    }

    .my-text{
        text-align: center;
    }
}


/* SECCION CARDS CON SERVICIOS DESKTOP */
.services-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    background-color:#C0B7B4;
}

.titulo-seccion{
    display: flex;
    justify-content: center;
}

.card-container{
    background-color: #C0B7B4;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


body > div.services-container > div.card-container > div:nth-child(n){
    background-color: #C0B7B4;
    text-align: center;
    color: #5D4E49;
    width: 20%;
    border: none;
    border-bottom: 5px solid #C9CFBD;
    padding-bottom: 2%;
}

.titulo-card{
    color: #5D4E49;
}

.img-card{
    width: 100%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%
}

body > div.services-container > div.card-container > div:nth-child(n) > a {
    color: #5D4E49;
    font-weight: bold;
}





/* SECCIÓN botón contacto DESKTOP*/

/* ESTILO PARA EL BOTÓN CON DROPDOWN */
body > div.btn-group.dropup > button{
	font-size: 10px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
    text-align: center;
	font-weight: bold; /* Fuente en negrita o bold */
	width: 100px;
    height: 100px;
    color: #F5F5EF; /* Color del texto */
	border-radius: 50px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #5D4E49; /* Color de fondo */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px #C0B7B4 (0, 0, 0, 0.1);
	z-index: 100;
}

/* Color de fondo botón cambia al hacer hover*/
body > div.btn-group.dropup > button:hover{
	background-color: #C9CFBD; 
}

/* el span lo pongo como img  */
.img-boton{
    display: inline;
    height: 20px;
}

/* ESTILO DESPLEGABLE */
body > div.btn-group.dropup > div{
    background-color: #E4D0D0;
    border-color: #5D4E49;
}

/* elementos DESPLEGABLE */
.elementos-lista-desplegable{
    text-decoration: none;
    color: #5D4E49;
}


/* elementos DESPLEGABLE AL HACER HOVER*/
body > div > div > div:nth-child(n):hover{
    background-color: #5D4E49;
}


body > div > div > div:nth-child(n) > a:hover {
    color: #E4D0D0;
}


/* SECCIÓN botón contacto MOBILE*/
@media (max-width: 900px) {
    body > div.btn-group.dropup > button {
    width: 80px;
    height: 80px;
	letter-spacing: 1px; /* Espacio entre letras */
	position: fixed;
	bottom: 50px;
	right: 50px;
}
}



/* carousel DESKTOP*/

#carouselExampleDark{
    background-color: #C9CFBD;
}

#carouselExampleDark > div.carousel-indicators > button.active{
    background-color: #C9CFBD;
}

#carouselExampleDark > div.carousel-inner > div.carousel-item{
    display: flex;
    height: 100vh;
    padding: 5% 25% 5% 25%;
}



/* ESTAS LINEAS LAS TUVE QUE AÑADIR PARA QUE AL HACER HOVER NO SE PONGA FONDO MARRÓN POR CULPA DEL CODIGO QUE APUNTA AL SELECTOR DEL BTN FLOTANTE */
#carouselExampleDark > div.carousel-inner.carousel-fade > div.carousel-item.justify-content-center.active{
    background-color: #C9CFBD;
}
#carouselExampleDark > div.carousel-inner.carousel-fade > div.carousel-item.justify-content-center:hover{
    background-color: #C9CFBD;
}
/* ------------------------ */


/* carousel mobile */
@media (max-width: 480px) {
    #carouselExampleDark > div.carousel-inner.carousel-fade > div.carousel-item.active.justify-content-center > img{
        height: 50%;
        margin-right: 50px;
        margin-left: 50px;
    }
}




/* navbar */
body > nav > div > a > img{
    height: 5rem;
}


body > nav > div {
    font-family: 'Old Standard TT', serif;
    color: #5D4E49;
    background-color: #C9CFBD;
    margin-top: 0;
}

#navbarNavDropdown > ul > li.nav-item.dropdown > ul{
    background-color: #C9CFBD;
}



  
